Source: qtorganizer5-eds
Section: utils
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake (>= 2.8.9),
               debhelper (>= 9),
               libecal1.2-dev (>= 3.16),
               libedataserver1.2-dev (>= 3.12),
               qt5-default,
               qt5-qmake,
               qtbase5-dev,
               qtpim5-dev,
               evolution-data-server,
               dbus-test-runner,
               gvfs-daemons
Standards-Version: 3.9.4
Homepage: https://launchpad.net/qtorganizer5-eds
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/qtorganizer5-eds/trunk
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/qtorganizer5-eds/trunk/files

Package: qtorganizer5-eds
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: QtOrganizer engine for EDS calendar.
 A QOrganizerEngine implementation using eds.
